.cryptoCard_block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cryptoCard_left {
  display: flex;
  align-items: center;
}

.left_rank {
  text-align: left;
}

.cryptoCard_left img {
  width: 30px;
  margin: 0 10px;
}

.left_name {
  text-align: left;
}
