.navBar {
  background-color: #222531;
  top: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.navBar_active {
  background-color: rgb(102, 28, 28);
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 1s ease-in-out;
}

section {
  margin: 0 auto;
  max-width: 1100px;
}

.navBar_container {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar_container-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navBar_container-left img {
  width: 50px;
  margin-right: 10px;
}

.navBar_container-left h1 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.navBar_container-left h1 strong {
  color: yellow;
  font-size: 1.8rem;
}

.navBar_container-right input {
  border: none;
  outline-style: none;
  padding: 15px;
  border-radius: 10px;
  background: #e2e2e2;
  color: black;
}

.navBar_container-right input::placeholder {
  color: black;
}
